Repository vasapolrittideah/optimize-api: changes, and which lefthook commands are due for each by the changed paths.
All: golangci-lint, go-mod-tidy

lefthook.yml:

# Lefthook configuration for Go project with golangci-lint and conventional commits
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false
  commands:
    golangci-lint:
      glob: "*.go"
      run: ./scripts/lint_staged_files.sh {staged_files}
      stage_fixed: true
    go-mod-tidy:
      glob: "{go.mod,go.sum}"
      run: go mod tidy
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: ./scripts/check_commit.sh {1}

chore: add `Makefile` and shell script for service structure generation
  Makefile
  scripts/create_service.sh
Due: none

feat(core): add global application logger with zerolog integration
  go.mod
  go.sum
  shared/logger/logger.go
Due: golangci-lint, go-mod-tidy

feat(core): add database connection management for MongoDB
  go.mod
  go.sum
  shared/database/mongo.go
Due: golangci-lint, go-mod-tidy

chore: ensure all shell scripts have proper execute permissions
  scripts/check_commit.sh
  scripts/create_service.sh
  scripts/lint_staged_files.sh
Due: none

feat(core): add `ConsulRegistry` for gRPC service discovery via Consul
  go.mod
  go.sum
  shared/discovery/consul.go
Due: golangci-lint, go-mod-tidy

feat(core): add `JWTAuthenticator` with token generation and validation
  go.mod
  go.sum
  shared/auth/auth.go
  shared/auth/jwt.go
Due: golangci-lint, go-mod-tidy

feat(core): add standardized API success and error response format
  shared/contract/http.go
Due: golangci-lint

feat(core): add Argon2-based password hashing and verification
  go.mod
  go.sum
  shared/security/hashing.go
Due: golangci-lint, go-mod-tidy

feat(core): add utility for gRPC health check service registration
  shared/utilities/grpc.go
Due: golangci-lint

feat(auth): add auth service configuration and gRPC server setup
  scripts/create_service.sh
  services/auth-service/README.md
  services/auth-service/cmd/main.go
  services/auth-service/internal/config/config.go
Due: golangci-lint

feat(auth): add auth domain models and proto buffer definitions
  protos/auth/v1/auth.proto
  services/auth-service/internal/domain/auth.go
  services/auth-service/internal/domain/identity.go
  services/auth-service/internal/domain/session.go
  services/auth-service/internal/domain/user.go
  services/auth-service/pkg/types/types.go
Due: golangci-lint

feat(auth): add `userMongoRepository` to handle CRUD operations
  services/auth-service/internal/repository/mongo/user.go
Due: golangci-lint

feat(auth): add `sessionMongoRepository` to handle CRUD operations
  services/auth-service/internal/repository/mongo/session.go
Due: golangci-lint

feat(auth): add `identityMongoRepository` to handle CRUD operations
  services/auth-service/internal/repository/mongo/identitiy.go
Due: golangci-lint

feat(auth): add `authUsecase` with login and signup functionalities
  services/auth-service/internal/usecase/auth.go
Due: golangci-lint

chore: add Makefile targets for auto-generating proto buffer files
  Makefile
Due: none

feat(auth): add `authGRPCHandler` for login and signup functionalities
  services/auth-service/internal/delivery/grpc/auth.go
Due: golangci-lint

feat(gateway): add API gateway configuration and HTTP server setup
  go.mod
  go.sum
  services/api-gateway/README.md
  services/api-gateway/cmd/main.go
  services/api-gateway/internal/config/config.go
Due: golangci-lint, go-mod-tidy

feat(auth): initialize `authGRPCHandle` to register auth gRPC server
  services/auth-service/cmd/main.go
Due: golangci-lint

build(auth): dockerize service with optional Windows build script
  infra/docker/dev/auth-service-build.bat
  infra/docker/dev/auth-service.Dockerfile
Due: none

feat(auth): add `AuthServiceClient` for gRPC client communication
  services/auth-service/pkg/client/client.go
Due: golangci-lint

feat(core): add JSON utility functions for reading and writing JSON
  shared/utilities/http.go
  shared/utilities/json.go
Due: golangci-lint

feat(core): add HTTP request struct validation and error translation
  shared/validator/validator.go
Due: golangci-lint

feat(gateway): add `AuthHTTPHandler` for authentication HTTP handler
  go.mod
  go.sum
  services/api-gateway/internal/delivery/http/auth.go
  services/api-gateway/internal/payload/auth.go
Due: golangci-lint, go-mod-tidy

feat(gateway): initialize `AuthHTTPHandler` and register HTTP endpoints
  services/api-gateway/cmd/main.go
Due: golangci-lint

refactor: change terminology from 'login' to 'sign in' for codebase
  protos/auth/v1/auth.proto
  services/api-gateway/internal/delivery/http/auth.go
  services/api-gateway/internal/payload/auth.go
  services/auth-service/internal/delivery/grpc/auth.go
  services/auth-service/internal/domain/auth.go
  services/auth-service/internal/usecase/auth.go
Due: golangci-lint

build: add Helm library chart with base templates and configuration
  infra/helm/charts/_base-service/Chart.yaml
  infra/helm/charts/_base-service/README.md
  infra/helm/charts/_base-service/templates/_configmap.yaml
  infra/helm/charts/_base-service/templates/_deployment.yaml
  infra/helm/charts/_base-service/templates/_helpers.tpl
  infra/helm/charts/_base-service/templates/_secrets.yaml
  infra/helm/charts/_base-service/templates/_service.yaml
Due: none

build(auth): add Helm application chart for auth service deployment
  infra/helm/charts/auth-service/.helmignore
  infra/helm/charts/auth-service/Chart.lock
  infra/helm/charts/auth-service/Chart.yaml
  infra/helm/charts/auth-service/templates/configmap.yaml
  infra/helm/charts/auth-service/templates/deployment.yaml
  infra/helm/charts/auth-service/templates/secrets.yaml
  infra/helm/charts/auth-service/templates/service.yaml
Due: none

chore: increase commit message maximum description length to 70
  scripts/check_commit.sh
Due: none

build: add `Tiltfile` for deploying services in development environment
  Tiltfile
Due: none
